[submodule "AstroImagingWorkshop2023/template/reveal.js"]
	path = AstroImagingWorkshop2023/template/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "template/reveal.js"]
	path = template/reveal.js
	url = https://github.com/EiffL/reveal.js.git
